name: AutoRelease
on:
    push:
        branches:
            - main
    workflow_dispatch:
jobs:
    publish-npm:
        name: Publish NPM Package
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  token: ${{ secrets.REPO_PUSH_TOKEN }}

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 'lts/*'
                  registry-url: https://npm.pkg.github.com/azodha
            - name: Node Version
              run: node -v
            - name: Install dependencies
              run: npm ci
            - name: Pre publish check
              run: npm run prepublish
            - name: Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: npx semantic-release
